:root {
  --bg-color: rgb(26, 26, 26);
  --text-color: rgb(241, 245, 249);
  --primary-color: rgb(40, 190, 70);
  --sec-color: rgb(36, 36, 36);
  --outline-color: rgb(48, 48, 48);

  --h1: 36px;
  --h2: 30px;
  --h3: 26px;
  --h4: 24px;
  --h5: 20px;
  --h6: 18px;
  --p : 16px;

  --border-radius: 5px;

  --light-green-color: #75FF9E;
  --light-red-color: #FF4B4B;
  --red-color: #BE2828;
  --orange-color: #ce9324;
  --blue-grey-color: #6a6d81;
  --quiet-grey-color: #626262;

  --black-color: #000000;

  --green-20pr: rgba(40, 190, 70, 0.2);
  --grey-40pr: rgba(55, 55, 64, 0.4);

  --z-index-toast: 5000;
  --z-index-date-picker: 2500;
}
