:root {
  --bg-color: rgb(26, 26, 26);
  --text-color: rgb(241, 245, 249);
  --primary-color: rgb(40, 190, 70);
  --sec-color: rgb(36, 36, 36);
  --outline-color: rgb(48, 48, 48);

  --h1: 36px;
  --h2: 30px;
  --h3: 26px;
  --h4: 24px;
  --h5: 20px;
  --h6: 16px;
  --p : 16px;

  --light-green-color: #75FF9E;
  --light-red-color: #FF4B4B;
}
