VITE_TPU_OAUTH_CLIENT_ID=xxx-xxx-xxxxxxxxxx

VITE_REF_POST_LOGIN=/auth/login
VITE_REF_GET_AUTH_STATUS=/auth/status
VITE_REF_GET_ME_DATA=/users/me
VITE_REF_POST_RELOGIN=/auth/refresh
VITE_REF_POST_LOGOUT=/auth/logout
VITE_API_BASE_URL=https://project.tpu.ru/dev/api

OAUTH_AUTHORIZE_URL=https://oauth.tpu.ru/authorize