.button {
	aspect-ratio: 1;
	height: 15px;

	cursor: pointer;
	color: var(--text-color);
}

.form {
  display: flex;
  gap: 10px;

  & input {
		border: none;
		background-color: var(--bg-color);

    &:focus {
      outline: none;
    }
  }
}
