.container {
  padding: 8px;
  background-color: var(--sec-color);
  border-radius: 12px;
}

.search {
  display: flex;
  gap: 8px;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--bg-color);
}

.icon {
  width: 24px;
  height: 24px;
}

.input {
  width: 100%;
  padding: 0;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

