.container {
  width: max-content;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
  border-radius: 10px;

  background-color: var(--sec-color);

	min-width: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;

	min-width: 0;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
