.container {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
}

.avatarContainer {
	display: flex;
	gap: 8px;
	align-items: center;
}

.avatar {
	aspect-ratio: 1;
	height: 36px;
	color: rgba(0, 0, 0, 0.5);
}

.description {
	user-select: none;
}

.name {
	font-size: var(--h6);
	font-weight: 700;
}

.id {
	font-weight: 400;
	color: color-mix(in srgb, var(--text-color) 30%, transparent);
}