:root {
  font-size: 16px;
  font-family: "Inter", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Inter, serif;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 { font-size: var(--H1)}
h2 { font-size: var(--H2)}
h3 { font-size: var(--H3)}
h4 { font-size: var(--H4)}
h5 { font-size: var(--H5)}
h6 { font-size: var(--H6)}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-size: inherit;
  line-height: inherit;
}

button {
	cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}