:root {
  --bg-color: rgb(26, 26, 26);
  --text-color: rgb(241, 245, 249);
  --primary-color: rgb(40, 190, 70);
  --sec-color: rgb(36, 36, 36);
  --outline-color: rgb(48, 48, 48);

  /* Для уведомлений */
  --H1: 36px;
  --H2: 30px;
  --H3: 26px;
  --H4: 24px;
  --H5: 20px;
  --H6: 16px;
  --p : 16px;

  --toast-border-radius: 3px;

  --toast-green-color: #75FF9E;
  --toast-background-green-color: #282f2a;
  --toast-red-color: #ff4b4b;
  --toast-background-red-color: #2f2626;
}