.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.actions {
  display: flex;
  gap: 7px;
}

.skeleton {
  width: 50%;

  &:last-child {
    width: 5%;
  }
}
