.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.placeholder {
  margin: auto;
  opacity: 0.3;
}

.partner {
  padding: 10px;
  background-color: var(--sec-color);
}
