.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;

  & p {
    display: none;
    color: var(--red-color);
    font-size: 14px;
  }
}

.error {
  & .urlInput {
    position: relative;
    border: 2px solid var(--red-color);
  }

  & p {
    display: block;
  }
}

.button {
  height: 38px;
  align-self: flex-end;
}
