.snippet {
  color: var(--blue-grey-color);
}

.content {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.searchWrapper {
  position: relative;

  &:focus-within .userList {
    visibility: visible;
  }
}

.userList {
  position: absolute;
  translate: 0 100%;
  bottom: -5px;

  width: 100%;
  visibility: hidden;
  z-index: 2;
}


.user {
  display: flex;
  justify-content: start;

  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 10px;
  border-radius: 5px;

  &:hover {
    background-color: var(--outline-color);
  }
}

.chosenUserList {
  height: 100%;
  align-content: start;
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  border-radius: 5px;
  padding: 8px;

  background-color: var(--bg-color);
}

.chosenUser {
  height: max-content;
  
  display: flex;
  align-items: center;
  gap: 5px;
  
  padding: 10px;
  border-radius: 5px;
  
  background-color: var(--green-20pr);
}

.removeButton {
  position: relative;
  display: inline-block;

  aspect-ratio: 1;
  height: 15px;

  &::after, &::before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: var(--text-color);
    border-radius: 1px;
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }
}