.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container {
  display: flex;
  gap: 24px;
  overflow: auto;
}

.info {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  gap: 24px;
}