.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 35vw;

  & input {
    flex-grow: 1;

    &:focus {
      outline: none;
    }
  }
}

.fields {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field {
  font-weight: 400;

  border: none;
  outline: none;
  background-color: var(--bg-color);

  border-radius: 5px;
  padding: 12px;

  cursor: pointer;

  &.empty {
    color: color-mix(in srgb, var(--text-color) 50%, transparent);
  }
}

.list {
  position: absolute;
  bottom: -5px;
  translate: 0 100%;

  width: 100%;
  gap: 10px;
  border: none;
  background-color: var(--bg-color);
}

.groupSkeleton {
  width: 100%;
  height: 2em;
}

.groupRow {
  color: var(--text-color);
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--outline-color);
  }
}

.button {
  aspect-ratio: 1;
  height: 15px;

  cursor: pointer;
  color: var(--text-color);
}

.confirmButton {
  padding-block: 8px;
  align-self: end;
}
